.circle-btn {
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 3rem;
  cursor: pointer;
  outline: none;
  position: relative;
  letter-spacing: 0;
  display: flex;            /* Enable flexbox */
  align-items: center;      /* Center vertically */
  justify-content: center;  
}

.tooltip-window {
  
border-radius: 0.5rem;
  z-index: 3001;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
  right: 0.5rem;
  overflow: hidden;
  background-color: #b7cede;
  text-align: center;
  margin-top: 0.5rem;
  max-height: 0;
  transition: max-height 0.5s ease-out, visibility 0.3s ease-out;
  visibility: hidden;
  font-size: 2.4rem;
}

.tooltip-window.show {
  max-height: 250px;
  visibility: visible;
}
.tooltip-window button {
  padding: 0.5rem;
  font-size: 2rem;
  background-color: #dcebf5;
  
}
